@model hotiguassu.Models.GirlsModels

@{
    ViewBag.Title = "Create";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").click(function () {
            $("form").submit();
        });
        $("#cancelar").click(function () {
            $("form").submit();
        });
    });

</script>

      <div class="header2">
        <div class="subpages2-nav">
               @Html.Partial("_MenuGirlPartial")
        </div>
  </div>  


<section id="contentGirls">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

     <div id="contentLeft">
    
        <div>
        <div>
            @Html.LabelFor(model => model.Nome)
            </div>
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div> 
    
       <div>
           @Html.LabelFor(model => model.DtNacimento)
           </div>
           <div>
            @Html.EditorFor(model => model.DtNacimento)
            @Html.ValidationMessageFor(model => model.DtNacimento)
        </div> 
    
        <div>
            @Html.LabelFor(model => model.Telefones)
            </div>
            <div>
            @Html.EditorFor(model => model.Telefones)
            @Html.ValidationMessageFor(model => model.Telefones)
        </div> 
    
         <div>
            <div>
            @Html.LabelFor(model => model.Altura)
            </div>
            @Html.EditorFor(model => model.Altura)
            @Html.ValidationMessageFor(model => model.Altura)
        </div> 

        <div>
            <div>
            @Html.LabelFor(model => model.Peso)
            </div>
            @Html.EditorFor(model => model.Peso)
            @Html.ValidationMessageFor(model => model.Peso)
        </div>  
    
     </div> 
    <div id="contentRigth">

        <div>
            <div>
            @Html.LabelFor(model => model.Cabelos)
            </div>
            @Html.EditorFor(model => model.Cabelos)
            @Html.ValidationMessageFor(model => model.Cabelos)
        </div>
    
        <div>
         <div>
            @Html.LabelFor(model => model.Quadris)
            </div>
            @Html.EditorFor(model => model.Quadris)
            @Html.ValidationMessageFor(model => model.Quadris)
        </div>
    
        <div>
        <div>
            @Html.LabelFor(model => model.Busto)
            </div>
            @Html.EditorFor(model => model.Busto)
            @Html.ValidationMessageFor(model => model.Busto)
        </div>

        <div>
            <div>
            @Html.LabelFor(model => model.Biografia)
            </div>
            @Html.TextAreaFor(model => model.Biografia)
            @Html.ValidationMessageFor(model => model.Biografia)
        </div> 
  
      <div>
          <div class="btns">
            <a href="#" class="link-1" id="cancelar" >Cancelar</a>
            <a href="#" class="link-1" id="submit">Enviar</a>
          </div>
      </div>
</div>
}

    </section> 