@model hotiguassu.Models.GirlsModels

@{
    ViewBag.Title = "Details";
}



  <div class="header">
        @Html.Partial("_MenuGirlPartial")
  </div>   

  <h2>Details</h2>

<fieldset>
    <legend>GirlsModels</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">DtNacimento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DtNacimento)
    </div>

    <div class="display-label">Biografia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Biografia)
    </div>

    <div class="display-label">Telefones</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefones)
    </div>

    <div class="display-label">Altura</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Altura)
    </div>

    <div class="display-label">Peso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Peso)
    </div>

    <div class="display-label">Cabelos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cabelos)
    </div>

    <div class="display-label">Quadris</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quadris)
    </div>

    <div class="display-label">Busto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Busto)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idGirl }) |
    @Html.ActionLink("Back to List", "Index")
</p>
