@model hotiguassu.Models.GirlsModels
@{Layout = "~/Views/Shared/_Layout.cshtml"; }


<head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/skin-2.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/jquery.fancybox-1.3.4.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/tabs.css")">
    <link rel="stylesheet" type="text/css" media="screen"   href="@Url.Content("~/Content/reset.css")">
    <link rel="stylesheet" type="text/css" media="screen"   href="@Url.Content("~/Content/style.css")">

    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>

    <script src="@Url.Content("~/Scripts/jquery-1.7.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.jcarousel.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.pack.js")"></script>
    <script src="@Url.Content("~/Scripts/tabs.js")"></script>
    <script>
        $(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                horisontal: true,
                wrap: 'circular',
                scroll: 1,
                easing: 'easeInOutBack',
                animation: 1200
            });
            $("a.plus").fancybox({
                'transitionIn': 'elastic',
                'transitionOut': 'elastic',
                'speedIn': 600,
                'speedOut': 200,
                'overlayShow': true
            })
        });
	</script>

</head>


  <div class="header">
        <div class="subpages-nav">
            @Html.Partial("_MenuInicialPartial")
        </div>
  </div>
<!--==============================content================================-->
    <section id="content">
    	<div class="pad-1">
            <div class="page2-row1">
                <div class="col-4">
                    <h2 class="h2 p2">@Model.Nome - @Model.Telefones</h2>
                    <div class="wrap">
                            @{
                                var caminho = "~/Fotos/" + Model.idGirl + "/Minhatura/";
                                DirectoryInfo arquivos = new DirectoryInfo(Server.MapPath(caminho));
                                if (arquivos.Exists)
                                {
                                    FileInfo[] files = arquivos.GetFiles("*.jpg", SearchOption.TopDirectoryOnly);

                                    foreach (var fileInfo in files)
                                    {
                                        var nomedafoto = fileInfo.Name;
                                            <img id="@nomedafoto" src="@Url.Content("~/Fotos/" + Model.idGirl + "/Minhatura/" + nomedafoto)" alt="" class="img-border img-indent"/>
                                        break;
                                    }
                                }
                            }
                        <div class="extra-wrap">
                            <p class="p4"><i> @Model.Biografia </i></p>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3 class="h3 p2">Características </h3>
                    <ul class="list-2">
                    @{  if(Model.Altura != null){
                        <li><span><a href="#">Altura</a> @Model.Altura </span></li>}
                        if (Model.Quadris != null){
                        <li><span><a href="#">Quadril</a> @Model.Quadris </span></li>}
                        if (Model.Cabelos != null){
                        <li><span><a href="#">Cabelos</a> @Model.Cabelos</span></li>}
                        if (Model.Busto != null){
                        <li><span><a href="#">Busto</a> @Model.Busto </span></li>}
                        if (Model.DtNacimento != null){
                        <li><span><a href="#">Idade</a> @Model.DtNacimento</span></li>}
                    }
                    </ul>
                </div> 
            </div>
          
           <h3 class="h3-2">Fotos:</h3>
                <div id="tab-1" class="tab-content gallery-photo" style="text-align: center;padding: 20px 0 20px 0;">
                   <div class="inner">
                        <ul id="mycarousel-1" class="jcarousel-skin-tango">

                        @{
                                var caminho2 = "~/Fotos/" + Model.idGirl + "/Minhatura/";
                                DirectoryInfo arquivos2 = new DirectoryInfo(Server.MapPath(caminho2));
                                if (arquivos.Exists)
                                {
                                    FileInfo[] files = arquivos2.GetFiles("*.jpg", SearchOption.TopDirectoryOnly);
                                    <li>
                                    @foreach (var fileInfo in files)
                                    {
                                        var nomedafoto = fileInfo.Name;
                                        <a class="plus" id="@nomedafoto" href="@Url.Content("~/Fotos/" + Model.idGirl + "/" + nomedafoto)">
                                            <img src="@Url.Content("~/Fotos/" + Model.idGirl + "/Minhatura/" + nomedafoto)" alt="">
                                        </a> 
                            
                                     }
                                     </li>
                                 }
                            }
                          </ul>
                 </div>
             </div>
    </section> 
